#!/bin/bash

APP_NAME=$1

cf set-env $APP_NAME AUTH_KEY YOUR-KEY
cf set-env $APP_NAME SECURE_AUTH_KEY YOUR-KEY
cf set-env $APP_NAME LOGGED_IN_KEY YOUR-KEY
cf set-env $APP_NAME NONCE_KEY YOUR-KEY
cf set-env $APP_NAME AUTH_SALT YOUR-KEY
cf set-env $APP_NAME SECURE_AUTH_SALT YOUR-KEY
cf set-env $APP_NAME LOGGED_IN_SALT YOUR-KEY
cf set-env $APP_NAME NONCE_SALT YOUR-KEY