{
    "site_info": {
        "url": "https://mysite.app.cloud.gov",
        "title": "My new site",
        "admin_user": "admin",
        "admin_password": "CHANGEME",
        "admin_email": "my.email@example.com"
    },
    "plugins": [
        {
          "url": "https://github.com/humanmade/S3-Uploads/archive/v1.1.0.zip"
        },
        {
          "name": "akismet",
          "version": "4.0"
        },
        {
          "name": "hello-dolly"
        }
    ],
    "themes": [
        {
            "name": "create",
            "version": "1.3"
        }
    ]
}
